:root {
  --body:#ffff;
  --font:#212121;
  --primary:#FFC107;
  --secondary:#0097A7;
  --gray:#757575;

}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}

.title {
  text-align: center;
  font-size: 3.8rem;
}

.title span {
  font-size: 2rem;
  color: blue;
}
h2.title span {
  font-size: 2rem;
  color: red;
}