:root {
  --white:#ffff;
  --font:#212121;
  --primary:#FFC107;
  --secondary:#0097A7;
  --gray:#757575;

}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family:'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-size: 3.8rem;
  font-family:'Roboto', sans-serif;
}

.title span {
  font-size: 2rem;
}

.container {
  width: 120rem;
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secondary);
}

.primary-nav {
  display:flex;
  justify-content: space-between;
  padding: 1rem;
}

.primary-nav a {
  color: var(--white);
  text-decoration: none;
}

